a {
    text-decoration: none;
    color: #666;
    font-size: 12px;
}

a:hover {
    color: #DD302D;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 1190px;
    margin: 0 auto;
}

/* 主样式 */
header .container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

header .container span {
    font-size: 20px;
    font-weight: 1000;
}

ul>li{
    margin-bottom: 10px;
    margin-right: 10px;

}
ul>li>div>img{
    width: 228px;
    height: 155px;
}
.desc{
    height: 100px;
}

.content .container ul {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}